@font-face {
    font-family: 'noice';
    src: url('fonts/Madeleina\ Sans.otf');
}

* {
    text-align-last: left;
    color: lightgray;
    font-family: 'noice';
}

bold {
    font-weight: 550;
}

t2 {
    font-size: 30px;
    font-weight: bold;
}

.boxlink {
    width: 500px;
}

.no-underline {
    font-size: 20px;
    text-decoration: none;
}

.box {
    border: 2px solid #DF9A85;
    padding: 10px;
    margin: 10px;
    width: 700px;
    font-size: 20px;
}

.box:hover {
    cursor: pointer;
}

h1 {
    font-size: 40px;
}

h1,
h2 {
    text-decoration: underline;
    font-weight: bolder;
}

body {
    background-image: url('images/images2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    min-height: 100%;
    position: relative;
}

.underline {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #e07453;
}

.active {
    background-color: #DF9A85;
}

footer {
    position: bottom;
    bottom: 0;
    width: 100%;
    height: 50px;
}